<article style="height: 100%;" class="row">
            <div style="height:100%" class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="vert-centre">
                    <div class="panel panel-silver shadow-box">
                        <div class="panel-heading">
                            <h2 class="panel-title"><i class="fa fa-lg fa-user text-silver"></i>Login Form</h2>
                        </div>
                        <div class="panel-body">
                            <form action="../" method="post" data-toggle="validator" autocomplete="off" class="form-styled">
                                <div class="form-group has-feedback">
                                    <label for="un">Username</label>
                                    <input type="text" id="un" name="un" maxlength="20" required data-minlength="3" placeholder="" data-error="Must be at least 3 characters" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="pw">Password</label>
                                    <input type="password" id="pw" name="pw" maxlength="20" required placeholder="" data-error="Must be at least 6 characters" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                                </div>
                                <div class="checkbox checkbox-styled">
                                    <label>
                                        <input type="checkbox" id="rm" name="rm" value="1"><span>Remember me</span>
                                    </label>
                                </div>
                                <a href="../" role="button" class="btn btn-outline btn-default btn-xs-100 pull-left text-grey"><i class="fa fa-lg fa-sign-in"></i>&nbsp; Sign in</a><a href="#/reset" role="button" class="btn btn-outline btn-default btn-xs-100 pull-right text-grey"><i class="fa fa-lg fa-refresh"></i>&nbsp; Reset Password</a>
                                <br>
                                <br>
                                
                                <a href="#/register" role="button" class="btn btn-outline btn-default btn-xs-100 pull-right text-grey"><i class="fa fa-lg fa-user-plus"></i>&nbsp; Registration</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>