 <article style="height: 100%;" class="row">
          <div style="height:100%" class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="vert-centre">
              <div class="panel panel-green shadow-box">
                <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-lg fa-pencil-square-o text-green"></i>Vehicule Registration</h2>
                </div>
                <div class="panel-body">
                  <form data-toggle="validator" autocomplete="off" action="../index" method="post" class="form-styled">
                    <div class="form-group has-feedback">
                      <label for="firstname">Brand</label>
                      <input type="text" id="firstname" name="firstname" maxlength="30" required pattern="[a-zA-Z]+" placeholder="" data-error="Please enter your firstname" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <label for="surname">Model</label>
                      <input type="text" id="surname" name="surname" maxlength="30" required pattern="[a-zA-Z]+" placeholder="" data-error="Please enter your surname" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <label for="puissance">Fuel Type</label>
                      <input type="text" id="puissance" name="puissance" maxlength="150" required data-error="Must be a valid email address" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <label for="hp">Horse Power</label>
                      <input type="text" id="hp" name="hp" required  placeholder="" data-error="Must be at least 6 characters including 1 number, 1 uppercase letter and 1 lowercase letter" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
             
                    <div class="form-group">
                      <div class="checkbox checkbox-styled">
                        <label>
                          <input type="checkbox" id="terms" name="terms" value="1" data-error="You must accept the terms to proceed" required><span>I accept the published Terms</span>
                        </label><span class="help-block with-errors"></span>
                      </div>
                    </div>
                      <a href="#/registerCar" role="button" class="btn btn-outline btn-success btn-xs-100 pull-left text-grey"><i class="fa fa-lg fa-check"></i>&nbsp; Validate</a>
                      <a href="#/" role="button" class="btn btn-outline btn-default btn-xs-100 pull-right text-grey"><i class="fa fa-lg fa-times"></i>&nbsp; Cancel</a>
                    <button type="button" data-toggle="modal" data-target="#modalterms" class="btn btn-sm btn-outline btn-success btn-xs-100 pull-right"><i class="fa fa-lg fa-gavel"></i>&nbsp; Terms</button>
                  </form>
                </div>
              </div>
            </div>
            <div id="modalterms" tabindex="-1" role="dialog" aria-labelledby="modalLabel" class="modal fade">
              <div role="document" class="modal-dialog modal-brand2">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                    <h2 id="modalLabel" class="modal-title">Terms and Conditions</h2>
                  </div>
                  <div class="modal-body">
                    <p><b>1.</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    <p><b>2.</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    <p><b>3.</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        