<article class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> <i class="fa fa-lg fa-envelope-o text-grey"></i>Contact form <small>( default )</small></h3>
            </div>
            <div class="panel-body">
                <form action="#" method="post">






                    <div class="form-group">
                        <label for="message1">Message</label>
                        <textarea id="message1" name="message1" placeholder="maximum 500 characters" ng-model="Content" rows="5" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success" ng-click="addReclamation()"><i class="fa fa-lg fa-envelope-o"></i>&nbsp; Send message</button>
                    <button type="button" class="btn btn-sm btn-outline btn-info pull-right"><i class="fa fa-lg fa-times"></i>&nbsp; Cancel</button>
                </form>
            </div>
        </div>
    </div>
</article>
