<!DOCTYPE html>
<!--
COLOURcode Template
Copyright 2016 Pro-Coders
https://themeforest.net/user/pro-coders
-->
<html>
<!-- BEGIN HEAD -->

<!-- Mirrored from colourcode.procoders.site/function-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Mar 2017 02:27:04 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Pro-Coders">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" id="favicon" href="../images/favicon.png">
    <title>Login Form</title>
    <!-- BEGIN STYLES -->
    <link rel="stylesheet" id="pagestyle" href="../stylesheets/layout.min.css">
    <!-- END STYLES -->



</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="body-blank">
<!-- BEGIN WRAP CONTAINER-FLUID -->
<section class="container-fluid">
    <!-- BEGIN HEADER -->
    <!-- END HEADER -->
    <!-- BEGIN MAIN PAGE-CONTENT -->
    <main>
        <!-- BEGIN CONTENT -->
    <article style="height: 100%;" class="row">
          <div style="height:100%" class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="vert-centre">
              <div class="panel panel-brand1 shadow-box">
                <div class="panel-heading">
                  <h2 class="panel-title"><i class="fa fa-lg fa-key text-brand1"></i>Reset Password</h2>
                </div>
                <div class="panel-body">
                  <form data-toggle="validator" autocomplete="off" action="/signin" method="post" class="form-styled">
                    <div class="form-group has-feedback">
                      <label for="un" class="control-label">Username</label>
                      <input type="text" id="un" name="un" maxlength="15" required placeholder="Required" data-minlength="5" data-error="Must be at least 5 characters" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <label for="pass" class="control-label">Current password</label>
                      <input type="password" id="pass" name="pass" required placeholder="Required" data-minlength="6" data-error="Must be at least 6 characters" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <label for="new1" class="control-label">New password</label>
                      <input type="password" id="new1" name="new1" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.new2undefined.pattern = this.value;" placeholder="" data-error="Must be at least 6 characters including 1 number, 1 uppercase letter and 1 lowercase letter" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <div style="margin-bottom: 15px;" class="form-group has-feedback">
                      <label for="new2" class="control-label">Repeat new password</label>
                      <input type="password" id="new2" name="new2" required data-match="#new1" data-match-error="Must be the same as above" class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span><span class="help-block with-errors"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-xs-100"><i class="fa fa-lg fa-check"></i>&nbsp; Change password</button>
                    <a href="/signin" role="button" class="btn btn-outline btn-default btn-xs-100 pull-right text-grey"><i class="fa fa-lg fa-times"></i>&nbsp; Cancel</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- END CONTENT -->
    </main>
</section>
<!-- BEGIN SCRIPTS -->
<script src="../js/layout.min.js"></script>
<!-- END SCRIPTS -->
</body>
<!-- END BODY -->

<!-- Mirrored from colourcode.procoders.site/function-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Mar 2017 02:27:04 GMT -->
</html>