<div class="panel panel-default" style="background-color: #000; height:300px ">
    <div class="panel-heading">
        <h3>Interview guide <small> Discover here all the tips and tricks of the editor for the maintenance of your vehicle</small></h3>
    </div>

    <div class="panel-body" style="background-color: #000">

        <h3 style="text-align: center ;color:white" class="title-quiz">Choose a quiz below</h3><br><br>



        <div class="row">
            <div style="background-color: black"  class="col-sm-12 col-sm-3 col-md-3">
                <a  href="#/quiz/global energy/58ef8afed4a5371f5cbddd9a">

                    <div class="panel summary quiz-ge" style="background-color: #151515; " >

                        <p><img class="center-block" src="../../images/quiz/global energy_icon.png" width="50" height="50"></p>
                        <br><br><h5 STYLE="color: white;text-align: center">Global Energy</h5>

                    </div>
                </a>
            </div>

            <!--------------------------------------------------------->
            <div style="background-color: black"  class="col-sm-12 col-sm-3 col-md-3">
                <a href="#/quiz/Efficiency/58ef8afed4a5371f5cbddd9a">

                    <div class="panel summary quiz-eff" style="background-color: #151515; " >

                        <p><img class="center-block" src="../../images/quiz/efficiency_icon.png" width="50" height="50"></p>
                        <br><br><h5 STYLE="color: white;text-align: center">Efficiency</h5>

                    </div>
                </a>
            </div>

            <div style="background-color: black"  class="col-sm-12 col-sm-3 col-md-3">
                <a href="#/quiz/Natural Gas/58ef8afed4a5371f5cbddd9a">

                    <div class="panel summary quiz-ng" style="background-color: #151515; " >

                        <p><img class="center-block" src="../../images/quiz/natural%20gas_icon.png" width="50" height="50"></p>
                        <br><br><h5 STYLE="color: white;text-align: center">Natural Gas</h5>

                    </div>
                </a>
            </div>

            <div style="background-color: black"  class="col-sm-12 col-sm-3 col-md-3">
                <a href="#/quiz/Transportation/58ef8afed4a5371f5cbddd9a">

                    <div class="panel summary quiz-transport" style="background-color: #151515; " >

                        <p><img class="center-block" src="../../images/quiz/transportation_icon.png" width="50" height="50"></p>
                        <br><br><h5 STYLE="color: white;text-align: center">Transportation</h5>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
